/* ==========global========== */


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

@font-face {
    font-family:"athene" ;
    src: url(../fonts/Athene.otf);
}

@font-face {
    font-family:"opensans" ;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

.fontAthene{
    font-family: "athene";
}

.fontOpenSans{
    font-family: "opensans";
}


body{
    width: 100%;
}


/* ==========hero section========== */



.heroSection{
    background-color: #EFE8D7;
}

header nav{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 3vh;
    background-color: #EFE8D7;
}

header nav a{
    text-decoration: none;
    color: #282B29;
}

.heroTitleContainer{
    text-align: center;
    width: 60vw;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #EFE8D7;
}

.heroTitleContainerSection{
    border-bottom: 1px solid #282B29;
    margin-bottom: 2vw;
}



.heroTitleContainerp{
    font-size: 5vw;
    color: #042A5A;
}

.heroImageSection{

}

.heroImgSection img{
    width: 30vw;
    height: 40vw;
    max-width: 260px;
    max-height: 350px;
    margin-bottom: 2vw;
}

.heroImgSection p{
    font-size: 2.2vw;
    font-size: min(max(12px, 2vw), 18px);
    padding-bottom: 8vw;
}

/* ==========second header section========== */

.secondHeaderArticle{
    background-color:#F4C4C4;
    padding-right: 5vw;
}

.sectionTitle{
    padding-top: 5vw;
}

.sectionTitle p:first-of-type{
    padding-left: 10vw;
    margin-bottom: 2vw;
}

.sectionTitle p:nth-of-type(2){
    /* font-size: 8vw; */
    font-family: "athene";
    font-size: max(5vw, 30px);
}

.sectionTitle pre{
    font-size: 8vw;
    font-family: "athene";
    margin-bottom: 5vw;
    font-size: max(5vw, 30px);
}

.heroSectionText{
    padding-right: 3.5vw;
    width: 30vw;
    /* min-width: 20vw; */
    line-height: 3vw;
    margin-left: auto;
    /* font-size: 1vw; */
    padding-bottom: 5vw;
    font-size: min(2vw,15px);
}

.listContainer{
    height: 2vw;
    width: 20vw;
    margin-left: auto;
    margin-right: 12vw;
    padding-bottom: 35vw;
    
}

.listTitle{
    font-size: 2vw;
    font-size: min(2vw,15px);
    text-align: end;
    border-bottom: 0.1px solid #282B29;
    width: 28vw;
    /* margin-left: auto; */
    /* margin-bottom: 2vw; */
}

.listIntegrity{
    display: flex;
    padding-left: 1vw;
    padding-top: 1vw;
    justify-content: space-between;
    width: 30vw;
    margin-left: auto;
    border-bottom: 1px solid #282B29;
    
}

.listIntegrityText{
    font-size: 1vw;
    width: 5vw;
    padding-bottom: 2vw;
    

} 

.integrityPoint{
    font-size: 1vw;
    padding-top: 3vh;
}

.listUnderstanding{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    border-bottom: 1px solid #282B29;
}

.understandingPoint{
    padding-left: 1vw;
    padding-top: 2.5vw;
    font-size: 1vw;
    
}

.understandingText{
    width: 5vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
    font-size: 1vw;
}

.listPerformance{
    display: flex;
    width: 30vw;
    justify-content: space-between;
    border-bottom: 1px solid #282B29;
}

.performancePoint{
    padding-left: 1vw;
    padding-top: 2.5vw;
    font-size: 1vw;
}

.performanceText{
    width: 5vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
    font-size: 1vw;
}

.workTogether{
    width: 6vw;
    height: 6vw;
    margin-left: 85vw;

}