/* ==========global========== */


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

@font-face {
    font-family:"athene" ;
    src: url(../fonts/Athene.otf);
}

@font-face {
    font-family:"opensans" ;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

.fontAthene{
    font-family: "athene";
}

.fontOpenSans{
    font-family: "opensans";
}


body{
    width: 100%;
}


/* ==========hero section========== */



.heroSection{
    background-color: #EFE8D7;
}

header nav{
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 3vh;
    background-color: #EFE8D7;
    z-index: 999;
}

header nav a{
    text-decoration: none;
    color: #282B29;
}

.heroTitleContainer{
    padding-top: 10vw;
    text-align: center;
    width: 60vw;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #EFE8D7;
}

.heroTitleContainerSection{
    border-bottom: 1px solid #282B29;
    margin-bottom: 2vw;
}



.heroTitleContainerp{
    font-size: 5vw;
    color: #042A5A;
}

.heroImageSection{

}

.heroImgSection img{
    width: 30vw;
    height: 40vw;
    max-width: 260px;
    max-height: 350px;
    margin-bottom: 2vw;
}

.heroImgSection p{
    font-size: 2.2vw;
    font-size: min(max(12px, 2vw), 18px);
    padding-bottom: 8vw;
}

/* ==========second header section========== */

.secondHeaderArticle{
    background-color:#F4C4C4;
    padding-right: 5vw;
}

.sectionTitle{
    padding-top: 5vw;
}

.sectionTitle p:first-of-type{
    padding-left: 10vw;
    margin-bottom: 2vw;
}

.sectionTitle p:nth-of-type(2){
    /* font-size: 8vw; */
    font-family: "athene";
    font-size: max(5vw, 30px);
}

.sectionTitle pre{
    font-size: 8vw;
    font-family: "athene";
    margin-bottom: 5vw;
    font-size: max(5vw, 30px);
}

.heroSectionText{
    padding-right: 3.5vw;
    width: 30vw;
    /* min-width: 20vw; */
    line-height: 3vw;
    margin-left: auto;
    /* font-size: 1vw; */
    padding-bottom: 5vw;
    font-size: min(2vw,15px);
}

.listContainer{
    height: 2vw;
    width: 20vw;
    margin-left: auto;
    margin-right: 12vw;
    padding-bottom: 35vw;
    
}

.listTitle{
    font-size: 2vw;
    font-size: min(2vw,15px);
    text-align: end;
    border-bottom: 0.1px solid #282B29;
    width: 28vw;
    /* margin-left: auto; */
    /* margin-bottom: 2vw; */
}

.listIntegrity{
    display: flex;
    padding-left: 1vw;
    padding-top: 1vw;
    justify-content: space-between;
    width: 30vw;
    margin-left: auto;
    border-bottom: 1px solid #282B29;
    
}

.listIntegrityText{
    font-size: 1vw;
    width: 5vw;
    padding-bottom: 2vw;
    

} 

.integrityPoint{
    font-size: 1vw;
    padding-top: 3vh;
}

.listUnderstanding{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    border-bottom: 1px solid #282B29;
}

.understandingPoint{
    padding-left: 1vw;
    padding-top: 2.5vw;
    font-size: 1vw;
    
}

.understandingText{
    width: 5vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
    font-size: 1vw;
}

.listPerformance{
    display: flex;
    width: 30vw;
    justify-content: space-between;
    border-bottom: 1px solid #282B29;
}

.performancePoint{
    padding-left: 1vw;
    padding-top: 2.5vw;
    font-size: 1vw;
}

.performanceText{
    width: 5vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
    font-size: 1vw;
}

.workTogether{
    width: 8vw;
    height: 8vw;
    margin-left: 85vw;
}

/* ===========main========== */


main{
    background-color:#DEB873 ;
    padding-top: 7vw;
}

.sectionNumber{
    padding-left: 5vw;
    padding-bottom: 3vw;
    font-size: 2vw;
    color:#7D2222;
}

.sectionTitleMain{
    font-size: 7vw;
    color:#7D2222;
}

.mainTitle{
    width: 15vw;
    margin-left: auto;
    margin-right: 10vw;
    padding-top: 7vw;
}

.mainSectionText{
    font-size: 2vw;
    font-size: min(2vw,15px) ;
    width:50vw;
    line-height: 2.5vw;
    margin-right: auto;
    padding-left: 6vw;
    padding-bottom: 15vw;
}

.articleRodrigo{
    padding-left: 10vw;

}

.articleRodrigo p{
    font-size: 3vw;
    position: relative;
    z-index: 2;
    color: #7D2222;
}

.articleRodrigo pre{
    font-size: 3vw;
    z-index: 2;
    position: relative;
    color:#7D2222;
}

.articleRodrigoImg{
    width: 40vw;
    max-width: 600px;
    height: 20vw;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    background:url(../img/bg-marconatto-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    bottom:10vw;
    left: 20vw;
}

.kätheArticle img{
    width: 50vw;
    height: 20vw;
    padding-left: 10vw;
    margin-bottom: 10vw;
}

.kätheArticleText{
    width: 5vw;
    margin-left: auto;
    margin-right: 30vw;
    text-align: end;
    font-size: 3.5vw;
    position: relative;
    top: 10vw;
    color: #7D2222;
}

.victorArticle img{
    width: 40vw;
    height: 20vw;
    margin-left: 40vw;
    margin-bottom: 15vw;
}

.victorArticle p{
    font-size: 3.5vw;
    color: #7D2222;
    width: 35vw;
    position: relative;
    top: 12vw;
    left: 20vw;
}

.authorityArticle img{
    width: 40vw;
    height: 20vw;
    margin-left: 15vw;
    margin-bottom: 20vw;
}

.authorityArticle p{
    width: 30vw;
    font-size: 3.5vw;
    margin-left: auto;
    margin-right: 20vw;
    position: relative;
    top: 10vw;
    left: 10vw;
    color: #7D2222;
}

/* ==========footer========== */


.pageNumber{
    padding-left: 5vw;
    padding-top: 5vw;
    margin-bottom: 5vw;
    color:#388883 ;
}

.pageTitle{
    font-size: 7vw;
    color: #388883;
}

.pageTitlePre{
    font-size: 7vw;
    color: #388883;
    margin-bottom: 15vw;
}

.footerText{
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    color: #388883;
    font-size: 2vw;
    line-height:3.5vw;
    margin-bottom: 15vw;
}

footer nav a{
    font-size: 2vw;
    display: block;
    width: 5vw;
    margin-left: auto;
    margin-right: 15vw;
    line-height: 4vw;
    text-decoration: none;
    color: #388883;
    font-family: "opensans";
}

